PORT=3000

DB_HOST=localhost
DB_PORT=3306
DB_NAME=movie_theater
DB_USER=root
DB_PASSWORD=

JWT_SECRET=08d2aa578ff8f3f44ad860ddb66c841e43c12155731c8ca3ae70d1a72439c704
JWT_EXPIRES_IN=1d

# Development only. Set true if you want Sequelize to create/update tables.
DB_SYNC=false
