PORT=3000

DB_HOST=localhost
DB_PORT=3306
DB_NAME=movie_mobile
DB_USER=root
DB_PASSWORD=

JWT_SECRET=change_this_secret
JWT_EXPIRES_IN=7d

# Development only. Set true if you want Sequelize to create/update tables.
DB_SYNC=false
